{
  "openapi": "3.1.0",
  "info": {
    "title": "Outscraper API Docs",
    "description": "**SDKs**\n\nThe supported list of official SDKs: [Python](https://pypi.org/project/outscraper/), [Ruby](https://github.com/outscraper/outscraper-ruby), [PHP](https://packagist.org/packages/outscraper/outscraper), [Node](https://www.npmjs.com/package/outscraper), [Go](https://github.com/outscraper/outscraper-go), and [Java](https://github.com/outscraper/outscraper-java). Check out the [Outscraper GitHub page](https://github.com/outscraper) to learn more about SDKs and find more code examples.\n\n**QPS & Limits**\n\nThe limit of queries per second depends on the nature of the requests, service, and request parameters (amount of results, amount of queries, etc.). The average QPS is about `20`. However, Outscraper can scale according to your needs. Please contact the team in case you need higher QPS.\n\n[F.A.Q](https://outscraper.com/faq/#API)",
    "version": "0.4.3"
  },
  "servers": [
    {
      "url": "https://api.outscraper.cloud"
    }
  ],
  "x-tagGroups": [
    {
      "name": "By Type",
      "tags": [
        "Businesses & POI",
        "Reviews & Comments",
        "Products & Listings",
        "Email Related",
        "Phone Related",
        "Domain Related",
        "Business Data API",
        "Other Services"
      ]
    },
    {
      "name": "By Brand",
      "tags": [
        "Amazon",
        "Booking",
        "Capterra",
        "Facebook",
        "Google",
        "Trustpilot",
        "ProductHunt",
        "YouTube",
        "Others"
      ]
    },
    {
      "name": "System",
      "tags": [
        "Requests",
        "Platform UI"
      ]
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "The Outscraper API uses API keys (tokens) to authenticate requests. You can view and manage your API key on [the profile page](/profile).\n\nAuthentication to the API is performed via `X-API-KEY: YOUR-API-KEY` header inside each request.\n\nAlternatively, you can send the API key inside URL query parameters `apiKey=YOUR-API-KEY`. Although, this method less secure and recommended for testing purposes only.\n\nYour API keys carry various privileges, do not share them in public areas such as GitHub, client-side code, and so forth."
      },
      "APIKeyQueryParam": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "Alternatively, you can send the API key inside URL query parameters `apiKey=YOUR-API-KEY`. Although, this method less secure and recommended for testing purposes only."
      }
    },
    "schemas": {
      "language": {
        "type": "string",
        "enum": [
          "en",
          "de",
          "es",
          "es-419",
          "fr",
          "hr",
          "it",
          "nl",
          "pl",
          "pt-BR",
          "pt-PT",
          "vi",
          "tr",
          "ru",
          "ar",
          "th",
          "ko",
          "zh-CN",
          "zh-TW",
          "ja",
          "ach",
          "af",
          "ak",
          "ig",
          "az",
          "ban",
          "ceb",
          "xx-bork",
          "bs",
          "br",
          "ca",
          "cs",
          "sn",
          "co",
          "cy",
          "da",
          "yo",
          "et",
          "xx-elmer",
          "eo",
          "eu",
          "ee",
          "tl",
          "fil",
          "fo",
          "fy",
          "gaa",
          "ga",
          "gd",
          "gl",
          "gn",
          "xx-hacker",
          "ht",
          "ha",
          "haw",
          "bem",
          "rn",
          "id",
          "ia",
          "xh",
          "zu",
          "is",
          "jw",
          "rw",
          "sw",
          "tlh",
          "kg",
          "mfe",
          "kri",
          "la",
          "lv",
          "to",
          "lt",
          "ln",
          "loz",
          "lua",
          "lg",
          "hu",
          "mg",
          "mt",
          "mi",
          "ms",
          "pcm",
          "no",
          "nso",
          "ny",
          "nn",
          "uz",
          "oc",
          "om",
          "xx-pirate",
          "ro",
          "rm",
          "qu",
          "nyn",
          "crs",
          "sq",
          "sk",
          "sl",
          "so",
          "st",
          "sr-ME",
          "sr-Latn",
          "su",
          "fi",
          "sv",
          "tn",
          "tum",
          "tk",
          "tw",
          "wo",
          "el",
          "be",
          "bg",
          "ky",
          "kk",
          "mk",
          "mn",
          "sr",
          "tt",
          "tg",
          "uk",
          "ka",
          "hy",
          "yi",
          "iw",
          "ug",
          "ur",
          "ps",
          "sd",
          "fa",
          "ckb",
          "ti",
          "am",
          "ne",
          "mr",
          "hi",
          "bn",
          "pa",
          "gu",
          "or",
          "ta",
          "te",
          "kn",
          "ml",
          "si",
          "lo",
          "my",
          "km",
          "chr"
        ],
        "default": "en"
      },
      "region": {
        "type": "string",
        "enum": [
          "AF",
          "AL",
          "DZ",
          "AS",
          "AD",
          "AO",
          "AI",
          "AG",
          "AR",
          "AM",
          "AU",
          "AT",
          "AZ",
          "BS",
          "BH",
          "BD",
          "BY",
          "BE",
          "BZ",
          "BJ",
          "BT",
          "BO",
          "BA",
          "BW",
          "BR",
          "VG",
          "BN",
          "BG",
          "BF",
          "BI",
          "KH",
          "CM",
          "CA",
          "CV",
          "CF",
          "TD",
          "CL",
          "CN",
          "CO",
          "CG",
          "CD",
          "CK",
          "CR",
          "CI",
          "HR",
          "CU",
          "CY",
          "CZ",
          "DK",
          "DJ",
          "DM",
          "DO",
          "EC",
          "EG",
          "SV",
          "EE",
          "ET",
          "FJ",
          "FI",
          "FR",
          "GA",
          "GM",
          "GE",
          "DE",
          "GH",
          "GI",
          "GR",
          "GL",
          "GT",
          "GG",
          "GY",
          "HT",
          "HN",
          "HK",
          "HU",
          "IS",
          "IN",
          "ID",
          "IQ",
          "IE",
          "IM",
          "IL",
          "IT",
          "JM",
          "JP",
          "JE",
          "JO",
          "KZ",
          "KE",
          "KI",
          "KW",
          "KG",
          "LA",
          "LV",
          "LB",
          "LS",
          "LY",
          "LI",
          "LT",
          "LU",
          "MG",
          "MW",
          "MY",
          "MV",
          "ML",
          "MT",
          "MU",
          "MX",
          "FM",
          "MD",
          "MN",
          "ME",
          "MS",
          "MA",
          "MQ",
          "MZ",
          "MM",
          "NA",
          "NR",
          "NP",
          "NL",
          "NZ",
          "NI",
          "NE",
          "NG",
          "NU",
          "MK",
          "NO",
          "OM",
          "PK",
          "PS",
          "PA",
          "PG",
          "PY",
          "PE",
          "PH",
          "PN",
          "PL",
          "PT",
          "PR",
          "QA",
          "RO",
          "RU",
          "RW",
          "WS",
          "SM",
          "ST",
          "SA",
          "SN",
          "RS",
          "SC",
          "SL",
          "SG",
          "SK",
          "SI",
          "SB",
          "SO",
          "ZA",
          "KR",
          "ES",
          "LK",
          "SH",
          "VC",
          "SR",
          "SE",
          "CH",
          "TW",
          "TJ",
          "TZ",
          "TH",
          "TL",
          "TG",
          "TO",
          "TT",
          "TN",
          "TR",
          "TM",
          "VI",
          "UG",
          "UA",
          "AE",
          "GB",
          "US",
          "UY",
          "UZ",
          "VU",
          "VE",
          "VN",
          "ZM",
          "ZW"
        ]
      },
      "parameters": {
        "async": {
          "in": "query",
          "name": "async",
          "required": true,
          "description": "The parameter defines the way you want to submit your task to Outscraper. It can be set to `false` to open an HTTP connection and keep it open until you got your results, or `true` (default) to just submit your requests to Outscraper and retrieve them later (usually within 1-3 minutes) with the [Request Results](#tag/requests/GET/requests/{requestId}) endpoint. Each response is available for `4` hours after a request has been completed.\n\nA good practice is to send async requests and start checking the results after the estimated execution time. Check out [this](https://github.com/outscraper/outscraper-python/blob/master/examples/Run%20Async%20Requests.md) Python implementation as an example.\n\nAs most of the requests take some time to be executed the `async=true` option is preferred to avoid HTTP requests timeouts.",
          "schema": {
            "type": "boolean",
            "default": true
          },
          "example": false
        },
        "ui": {
          "in": "query",
          "name": "ui",
          "required": false,
          "description": "The parameter defines whether a task will be executed as a UI task. This is commonly used when you want to create a regular platform task with API.\n\nUsing this parameter overwrites the `async` parameter to `true`.",
          "schema": {
            "type": "boolean",
            "default": false
          }
        },
        "format": {
          "in": "query",
          "name": "format",
          "required": false,
          "description": "The parameter defines the format of the output data. Using this parameter overwrites the `ui` parameter to `true`.",
          "schema": {
            "type": "array",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "default": "xlsx",
              "enum": [
                "xlsx",
                "csv",
                "json",
                "parquet"
              ]
            }
          }
        },
        "webhook": {
          "in": "query",
          "name": "webhook",
          "required": false,
          "description": "The parameter defines the URL address (callback) to which Outscraper will create a POST request with a JSON body once a task/request is finished.\n\nUsing this parameter overwrites the webhook from integrations.",
          "schema": {
            "type": "string"
          }
        },
        "fields": {
          "in": "query",
          "name": "fields",
          "required": false,
          "description": "The parameter defines which fields you want to include with each item returned in the response. By default, it returns all fields. Use `&fields=query,name` to return only the specific ones.",
          "schema": {
            "type": "string"
          }
        },
        "enrichments": {
          "in": "query",
          "name": "enrichment",
          "required": false,
          "description": "The parameter defines an enrichment or enrichments (e.g., `enrichment=enrichment1&enrichment=enrichment2&enrichment=enrichment3`) you want to apply to the results.\n\nAvailable values:\n\n `contacts_n_leads` — **Contacts & Leads Enrichment**: finds emails, social links, phones, and other contacts from websites;\n\n `emails_validator_service` — **Email Address Verifier**: validates emails, checks deliverability, filters out blacklists, spam traps, and complainers, while significantly reducing your bounce rate;\n\n `company_websites_finder` - **Company Website Finder**: finds company websites based on business names;\n\n `disposable_email_checker` — **Disposable Emails Checker**: checks origins of email addresses (disposable, free, or corporate);\n\n `company_insights_service` — **Company Insights**: Finds company firmographics such as revenue, size, founding year, public status, etc.;\n\n `phones_enricher_service` — **Phone Numbers Enricher**: returns phones carrier data (name/type), validates phones, ensures messages deliverability, \n\n `trustpilot_service` — **Trustpilot Scraper**: returns data from a list of businesses, \n\n `whitepages_phones` - **Phone Identity Finder**: returns insights about phone number owners (name, address, etc.);\n\n `ai_chain_info` - **Chain Info**: identifies if a business is part of a chain, adding a true/false indication to your data for smarter targeting. \n\nUsing enrichments increases the time of the response. You might want to use the `async=true` parameter to avoid getting timeouts.",
          "schema": {
            "type": "array",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          }
        },
        "preferredContacts": {
          "in": "query",
          "name": "preferredContacts",
          "description": "Preferred contacts. It supports multiple categories (e.g., `preferredContacts=technical&preferredContacts=influencers`).",
          "schema": {
            "type": "array",
            "collectionFormat": "csv",
            "items": {
              "type": "string",
              "enum": [
                "decision makers",
                "influencers",
                "procurement/purchasing",
                "technical",
                "finance",
                "operations",
                "marketing",
                "sales",
                "maintenance",
                "human resources",
                "legal and compliance",
                "supply chain/logistics",
                "education/training"
              ]
            }
          }
        },
        "contactsPerCompany": {
          "in": "query",
          "name": "contactsPerCompany",
          "description": "The parameter specifies the number of Contacts per one company.",
          "schema": {
            "type": "integer",
            "default": 3
          }
        },
        "skipContacts": {
          "in": "query",
          "name": "skipContacts",
          "description": "The parameter specifies the number of contacts to skip. It's commonly used in pagination.",
          "schema": {
            "type": "integer",
            "default": 3
          }
        },
        "emailsPerContact": {
          "in": "query",
          "name": "emailsPerContact",
          "description": "The parameter specifies the number of email addresses per one contact.",
          "schema": {
            "type": "integer",
            "default": 1
          }
        },
        "generalEmails": {
          "in": "query",
          "name": "generalEmails",
          "description": "The parameter specifies whether to include only general email (info@, support@, etc.) or only not general email (paul@, john@, etc.).",
          "schema": {
            "type": "boolean",
            "default": null
          }
        },
        "language": {
          "in": "query",
          "name": "language",
          "required": false,
          "description": "The parameter specifies the language to use for website.",
          "schema": {
            "$ref": "#/components/schemas/language"
          }
        },
        "region": {
          "in": "query",
          "name": "region",
          "required": false,
          "description": "The parameter specifies the country to use for website. It's recommended to use it for a better search experience.",
          "schema": {
            "$ref": "#/components/schemas/region"
          }
        },
        "coordinates": {
          "in": "query",
          "name": "coordinates",
          "required": false,
          "description": "The parameter defines the coordinates of the location where you want your query to be applied.\n\nIt has to be constructed in the next sequence: `@` + `latitude` + `,` + `longitude` + `,` + `zoom` (`@41.3954381,2.1628662,15.1z`).\nOften, you can find this value while visiting [Google Maps](https://www.google.com/maps/search/restaurants,+Manhattan,+New+York,+NY,+USA/@40.7510123,-73.9803871,13.68z).",
          "schema": {
            "type": "string"
          }
        },
        "coordinates_v2": {
          "in": "query",
          "name": "coordinates",
          "required": false,
          "description": "The parameter defines the coordinates of the location where you want your query to be applied.\n\nIt has to be constructed in the next sequence: `latitude` + `,` + `longitude` (`41.3954381,2.1628662`).\nOften, you can find this value while visiting [Google Maps](https://www.google.com/maps/search/restaurants,+Manhattan,+New+York,+NY,+USA/@40.7510123,-73.9803871,13.68z).",
          "schema": {
            "type": "string"
          }
        },
        "google_maps_query": {
          "in": "query",
          "name": "query",
          "required": true,
          "description": "The parameter defines the query you want to search. You can use anything that you would use on a regular Google Maps site. Additionally, you can use `google_id` (feature_id), `place_id`, `CID` or urls to Google Maps places. The example of valid queries: `Real estate agency, Rome, Italy`, `The NoMad Restaurant, NY, USA`, `restaurants, Brooklyn 11203`, `0x886916e8bc273979:0x5141fcb11460b226`, `ChIJu7bMNFV-54gR-lrHScvPRX4`, `https://www.google.com/maps/search/restaurants+near+New+York,+NY`, etc.\n\nIt supports batching by sending arrays with up to `250` queries (e.g., `query=text1&query=text2&query=text3`). It allows multiple queries to be sent in one request and save on network latency time. \n\nYou might want to check out [the web application](/googleMaps) to play with locations and categories that we would suggest.",
          "schema": {
            "type": "array",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          }
        },
        "google_maps_query_v2": {
          "in": "query",
          "name": "query",
          "required": true,
          "description": "The parameter defines the query you want to search. You can use anything that you would use on a regular Google Maps site. Additionally, you can use `google_id` (feature_id), `place_id`, or `CID`. The example of valid queries: `Real estate agency, Rome, Italy`, `The NoMad Restaurant, NY, USA`, `restaurants, Brooklyn 11203`, `0x886916e8bc273979:0x5141fcb11460b226`, `ChIJrZhup4lZwokRUr_5sLoFlDw`, etc.\n\nIt supports batching by sending arrays with up to `250` queries (e.g., `query=text1&query=text2&query=text3`). It allows multiple queries to be sent in one request and save on network latency time.\n\nYou might want to check out [the web application](/googleMaps) to play with locations and categories that we would suggest.",
          "schema": {
            "type": "string"
          },
          "example": "Restaurants, Manhattan, NY, US"
        },
        "pages_per_query": {
          "in": "query",
          "name": "pagesPerQuery",
          "required": false,
          "description": "The parameter specifies the limit of pages to return from one query.",
          "schema": {
            "type": "integer",
            "default": 1
          }
        },
        "items_per_query": {
          "in": "query",
          "name": "perQuery",
          "required": false,
          "description": "The parameter specifies the limit of items to return from one query.",
          "schema": {
            "type": "integer",
            "default": 100
          }
        },
        "google_search_query": {
          "in": "query",
          "name": "query",
          "required": true,
          "description": "Queries to search on Google (e.g., `bitcoin`, `37th president of usa`). \n\nIt supports batching by sending arrays with up to `250` queries (e.g., `query=text1&query=text2&query=text3`). It allows multiple queries to be sent in one request and to save on network latency time.",
          "schema": {
            "type": "array",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          }
        },
        "google_search_uule": {
          "in": "query",
          "name": "uule",
          "required": false,
          "description": "Google UULE parameter is used to encode a place or an exact location (with latitude and longitude) into a code. By using it you can see a Google result page like someone located at the specified location.",
          "schema": {
            "type": "string"
          }
        },
        "google_search_tbs": {
          "in": "query",
          "name": "tbs",
          "required": false,
          "description": "The parameter specifies the date range of the results (`h` - past hour, `d` - past 24 hours, `w` - past week, `m` - past month, 'y' - past year).",
          "schema": {
            "type": "string",
            "enum": [
              "h",
              "d",
              "w",
              "m",
              "y"
            ]
          }
        },
        "cutoff": {
          "in": "query",
          "name": "cutoff",
          "required": false,
          "description": "The parameter specifies the oldest timestamp value for items. \n\nUsing the `cutoff` parameter overwrites `sort` parameter`. Therefore, the latest records will be at the beginning (newest first).",
          "schema": {
            "type": "integer"
          }
        },
        "skip": {
          "in": "query",
          "name": "skip",
          "required": false,
          "description": "The parameter specifies the number of items to skip. It's commonly used in pagination.",
          "schema": {
            "type": "integer",
            "default": 0
          }
        },
        "last_pagination_id": {
          "in": "query",
          "name": "lastPaginationId",
          "required": false,
          "description": "The parameter specifies the review_pagination_id of the last item. It's commonly used in pagination.",
          "schema": {
            "type": "string"
          }
        },
        "maps_limit": {
          "in": "query",
          "name": "limit",
          "required": true,
          "description": "The parameter specifies the limit of organizations to take from one query search.\n\nThere are no more than 500 places per one query search on Google Maps. For densely populated areas you might want to split your query into subqueries in order to get all the places inside. (e.g., `restaurants, Brooklyn 11211`, `restaurants, Brooklyn 11215`).",
          "schema": {
            "type": "integer",
            "default": 500
          },
          "example": 25
        },
        "maps_total_limit": {
          "in": "query",
          "name": "totalLimit",
          "required": false,
          "description": "The parameter specifies the total limit of organizations to take from many queries. Usefull when using `dropDuplicates` parameter. It allows you to limit the total amount of organizations returned from all queries inside one request.",
          "schema": {
            "type": "integer"
          }
        },
        "maps_drop_duplicates": {
          "in": "query",
          "name": "dropDuplicates",
          "required": false,
          "description": "The parameter specifies whether the bot will drop the same organizations from different queries. It makes sense when you use batching and send multiple queries inside one request.\n\nUsing the parameter combines results from each query inside one big array (`{'data': [...]}` instead of `{'data': [[...], [...], [...]]}`).\n\nIf the amount of ignored rows are less than 5,000% of what was actually extracted, you won't be billed for ignored records.",
          "schema": {
            "type": "boolean",
            "default": false
          }
        },
        "maps_reviews_reviews_limit": {
          "in": "query",
          "name": "reviewsLimit",
          "required": false,
          "description": "The parameter specifies the limit of reviews to get from one place (0 = unlimited).",
          "schema": {
            "type": "integer",
            "default": 100
          }
        },
        "maps_reviews_limit": {
          "in": "query",
          "name": "limit",
          "required": false,
          "description": "The parameter specifies the limit of places to take from one query search.",
          "schema": {
            "type": "integer",
            "default": 1
          }
        },
        "maps_reviews_sort": {
          "in": "query",
          "name": "sort",
          "required": false,
          "description": "The parameter specifies one of the sorting types.",
          "schema": {
            "type": "string",
            "enum": [
              "most_relevant",
              "newest",
              "highest_rating",
              "lowest_rating"
            ],
            "default": "most_relevant"
          }
        },
        "amazon_domain": {
          "in": "query",
          "name": "domain",
          "required": false,
          "description": "The parameter specifies Amazon domain to use.",
          "schema": {
            "type": "string",
            "enum": [
              "amazon.com",
              "amazon.co.uk",
              "amazon.ca",
              "amazon.de",
              "amazon.es",
              "amazon.fr",
              "amazon.it",
              "amazon.in",
              "amazon.nl",
              "amazon.se",
              "amazon.sa",
              "amazon.com.mx",
              "amazon.com.br",
              "amazon.com.au",
              "amazon.co.jp",
              "amazon.pl",
              "amazon.ae"
            ],
            "default": "amazon.com"
          }
        },
        "maps_reviews_query": {
          "in": "query",
          "name": "reviewsQuery",
          "required": false,
          "description": "The parameter specifies the query to search among the reviews (e.g. `wow`, `amazing | great`).",
          "schema": {
            "type": "string"
          }
        },
        "maps_reviews_start": {
          "in": "query",
          "name": "start",
          "required": false,
          "description": "The parameter specifies the start timestamp value for reviews (newest review). The current timestamp is used when the value is not provided.\n\nUsing the `start` parameter overwrites the `sort` parameter to `newest`. Therefore, the latest reviews will be at the beginning.",
          "schema": {
            "type": "integer"
          }
        },
        "maps_reviews_cutoff": {
          "in": "query",
          "name": "cutoff",
          "required": false,
          "description": "The parameter specifies the oldest timestamp value for reviews (oldest review). \n\nUsing the `cutoff` parameter overwrites `sort` parameter to `newest`. Therefore, the latest reviews will be at the beginning.",
          "schema": {
            "type": "integer"
          }
        },
        "maps_reviews_cutoff_rating": {
          "in": "query",
          "name": "cutoffRating",
          "required": false,
          "description": "The parameter specifies the maximum for `lowest_rating` sorting or the minimum for `highest_rating` sorting rating for reviews.\n\nUsing the `cutoffRating` requires sorting to be set to `lowest_rating` or `highest_rating`.",
          "schema": {
            "type": "integer"
          }
        },
        "maps_reviews_cutoff_ignore_empty": {
          "in": "query",
          "name": "ignoreEmpty",
          "required": false,
          "description": "The parameter specifies whether to ignore reviews without text or not.",
          "schema": {
            "type": "boolean",
            "default": false
          }
        },
        "reviews_limit": {
          "in": "query",
          "name": "limit",
          "required": false,
          "description": "The parameter specifies the limit of reviews to get from one query.",
          "schema": {
            "type": "integer",
            "default": 100
          }
        },
        "cursor": {
          "in": "query",
          "name": "cursor",
          "required": false,
          "description": "The parameter specifies the next page cursor (`next_page_cursor`) from the previous chunk of records (usually `10`). It's commonly used in pagination.",
          "schema": {
            "type": "string"
          }
        },
        "limit": {
          "in": "query",
          "name": "limit",
          "required": false,
          "description": "The parameter specifies the limit of items to get from one query.",
          "schema": {
            "type": "integer",
            "default": 100
          }
        },
        "businesses_filters": {
          "type": "object",
          "description": "Filtering criteria to narrow down business records.",
          "properties": {
            "os_ids": {
              "type": "array",
              "description": "List of Outscraper business IDs (os_id) to include.",
              "items": {
                "type": "string"
              },
              "example": [
                "b3c1f2a0d9e84f0a6c3b9d2f4e7a1c90",
                "9f1a2b3c4d5e6f708192a3b4c5d6e7f8"
              ]
            },
            "country_code": {
              "type": "string",
              "description": "Two-letter country code to filter businesses by country (e.g., 'US', 'GB', 'CA').",
              "example": "US"
            },
            "states": {
              "type": "array",
              "description": "List of states or provinces to filter businesses by.",
              "items": {
                "type": "string"
              },
              "example": [
                "CA",
                "NY"
              ]
            },
            "cities": {
              "type": "array",
              "description": "List of cities to filter businesses by.",
              "items": {
                "type": "string"
              },
              "example": [
                "Los Angeles",
                "New York"
              ]
            },
            "counties": {
              "type": "array",
              "description": "List of counties/boroughs to filter businesses by.",
              "items": {
                "type": "string"
              },
              "example": [
                "Kings County",
                "Queens County"
              ]
            },
            "postal_codes": {
              "type": "array",
              "description": "List of postal/ZIP codes to filter businesses by (full or partial).",
              "items": {
                "type": "string"
              },
              "example": [
                "10001",
                "90"
              ]
            },
            "name": {
              "type": "string",
              "description": "Business name filter (partial or full match).",
              "example": "Starbucks"
            },
            "name_exclude": {
              "type": "boolean",
              "description": "Whether to exclude businesses matching the `name` filter (`true`) or include them (`false`).",
              "example": true
            },
            "types": {
              "type": "array",
              "description": "List of business categories to include (e.g., 'restaurant', 'dentist', 'hotel').",
              "items": {
                "type": "string"
              },
              "example": [
                "restaurant",
                "cafe"
              ]
            },
            "ignore_types": {
              "type": "array",
              "description": "List of business categories to exclude from results.",
              "items": {
                "type": "string"
              },
              "example": [
                "bar",
                "night_club"
              ]
            },
            "rating": {
              "type": "string",
              "description": "Rating filter expression.",
              "example": "4.5+"
            },
            "reviews": {
              "type": "string",
              "description": "Reviews count filter expression.",
              "example": "100+"
            },
            "has_website": {
              "type": "boolean",
              "description": "Whether the business has a website (`true`) or not (`false`).",
              "example": true
            },
            "domain": {
              "type": "string",
              "description": "Website domain to filter businesses by (e.g., 'example.com').",
              "example": "example.com"
            },
            "has_phone": {
              "type": "boolean",
              "description": "Whether the business has a phone number (`true`) or not (`false`).",
              "example": true
            },
            "phone": {
              "type": "string",
              "description": "Phone number filter (partial or full match).",
              "example": "14155550123"
            },
            "business_statuses": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "operational",
                  "closed_temporarily",
                  "closed_permanently"
                ]
              },
              "description": "Business status filter.",
              "example": [
                "operational"
              ]
            },
            "area_service": {
              "type": "boolean",
              "description": "Whether the business is marked as an area service business.",
              "example": false
            },
            "verified": {
              "type": "boolean",
              "description": "Whether the business is verified.",
              "example": true
            },
            "geo_filters": {
              "type": "array",
              "description": "List of geo filter objects (e.g., polygons, circles, bounding boxes).",
              "items": {
                "type": "object"
              },
              "example": [
                {
                  "type": "circle",
                  "lat": 34.0522,
                  "lng": -118.2437,
                  "radius_m": 2000
                }
              ]
            },
            "attributes": {
              "type": "array",
              "description": "List of business attributes to filter by.",
              "items": {
                "type": "string"
              },
              "example": [
                "wheelchair_accessible",
                "takes_reservations"
              ]
            },
            "located_os_id": {
              "type": "string",
              "description": "Location reference Outscraper ID used to filter nearby/related businesses.",
              "example": "b3c1f2a0d9e84f0a6c3b9d2f4e7a1c90"
            },
            "broad_match": {
              "type": "boolean",
              "description": "Whether to use broader matching for text/category filters.",
              "example": false
            },
            "business_only": {
              "type": "boolean",
              "description": "Whether to return only businesses (exclude other entity types).",
              "example": true
            }
          }
        }
      },
      "responses": {
        "202": {
          "description": "The response contains a request ID that can be used to fetch results by using [Request Results](#tag/requests/GET/requests/{requestId}) endpoint. Each response is available for `4` hours after a request has been completed.",
          "content": {
            "application/json": {
              "example": {
                "id": "your-request-id",
                "status": "Pending",
                "results_location": "https://api.outscraper.cloud/requests/your-request-id"
              }
            }
          }
        },
        "204": {
          "description": "The request was finished with failure and has no results.",
          "content": {
            "application/json": {
              "example": {
                "id": "your-request-id",
                "status": "Failure"
              }
            }
          }
        },
        "401": {
          "description": "Wrong or missing API Key (token).",
          "content": {
            "application/json": {
              "example": {
                "error": true,
                "errorMessage": "401 Unauthorized: The server could not verify that you are authorized to access the URL requested. You either supplied the wrong credentials (e.g. a bad password), or your browser doesn't understand how to supply the credentials required."
              }
            }
          }
        },
        "402": {
          "description": "Past due invoices or a payment method not connected.",
          "content": {
            "application/json": {
              "example": {
                "error": true,
                "errorMessage": "Please close past due invoices or verify your card information is correct."
              }
            }
          }
        },
        "422": {
          "description": "Wrong query url parameters.",
          "content": {
            "application/json": {
              "example": {
                "error": true,
                "errorMessage": "422 Unprocessable Entity: The request was well-formed but was unable to be followed due to semantic errors."
              }
            }
          }
        }
      },
      "results": {
        "description": {
          "common": "The response contains the `status` of the request and `data`. Data is an array where each element represents a response for a single query from the request."
        },
        "google_maps": {
          "id": "your-request-id",
          "status": "Success",
          "data": [
            [
              {
                "query": "restaurants, Manhattan, NY, USA",
                "name": "Upland",
                "place_id": "ChIJWVD7FadZwokRs_pS6XY7VOU",
                "google_id": "0x89c259a715fb5059:0xe5543b76e952fab3",
                "full_address": "345 Park Ave S, New York, NY 10010",
                "borough": "Manhattan",
                "street": "345 Park Ave S",
                "postal_code": "10010",
                "area_service": false,
                "country_code": "US",
                "country": "United States of America",
                "city": "New York",
                "us_state": "New York",
                "state": "New York",
                "plus_code": null,
                "latitude": 40.7419313,
                "longitude": -73.984644,
                "time_zone": "America/New_York",
                "popular_times": null,
                "site": "https://uplandnyc.com/?utm_source=Google+My+Business&utm_medium=Website+Button",
                "phone": "+1 212-686-1006",
                "type": "Californian restaurant",
                "logo": "https://lh4.googleusercontent.com/-zvSnhN_Mek4/AAAAAAAAAAI/AAAAAAAAAAA/XHbA606mawk/s44-p-k-no-ns-nd/photo.jpg",
                "description": "Spacious, casually chic brasserie with hearty dishes featuring Californian & Italian influences.",
                "located_in": null,
                "located_google_id": null,
                "category": "Californian restaurant",
                "subtypes": "Californian restaurant, American restaurant, Bar, Italian restaurant, Takeout Restaurant, Restaurant",
                "posts": null,
                "reviews_tags": null,
                "rating": 4.5,
                "reviews": 1766,
                "photos_count": 4255,
                "cid": "16524898314635901619",
                "reviews_link": "https://search.google.com/local/reviews?placeid=ChIJWVD7FadZwokRs_pS6XY7VOU&q=restaurants,+Manhattan,+NY,+USA&authuser=0&hl=en&gl=US",
                "reviews_id": "-1921845759073649997",
                "photo": "https://lh5.googleusercontent.com/p/AF1QipPFzGn4Ie2huHtDmrAmxl0GkSIp5rrXipoxPF55=w800-h500-k-no",
                "street_view": "https://lh5.googleusercontent.com/p/AF1QipPFzGn4Ie2huHtDmrAmxl0GkSIp5rrXipoxPF55=w1600-h1000-k-no",
                "working_hours_old_format": "Monday: 11:30 AM-3 PM,5-10 PM | Tuesday: 11:30 AM-3 PM,5-10 PM | Wednesday: 11:30 AM-3 PM,5-10 PM | Thursday: 11:30 AM-3 PM,5-10 PM | Friday: 11:30 AM-3 PM,5-11 PM | Saturday: 10 AM-3 PM,5-11 PM | Sunday: 10 AM-3 PM,5-9 PM",
                "working_hours": {
                  "Monday": "11:30 AM-3 PM,5-10 PM",
                  "Tuesday": "11:30 AM-3 PM,5-10 PM",
                  "Wednesday": "11:30 AM-3 PM,5-10 PM",
                  "Thursday": "11:30 AM-3 PM,5-10 PM",
                  "Friday": "11:30 AM-3 PM,5-11 PM",
                  "Saturday": "10 AM-3 PM,5-11 PM",
                  "Sunday": "10 AM-3 PM,5-9 PM"
                },
                "other_hours": [
                  {
                    "lunch": {
                      "Monday": "11:30 AM-3 PM",
                      "Tuesday": "11:30 AM-3 PM",
                      "Wednesday": "11:30 AM-3 PM",
                      "Thursday": "11:30 AM-3 PM",
                      "Friday": "11:30 AM-3 PM",
                      "Saturday": "Closed",
                      "Sunday": "Closed"
                    }
                  },
                  {
                    "dinner": {
                      "Monday": "5-10 PM",
                      "Tuesday": "5-10 PM",
                      "Wednesday": "5-10 PM",
                      "Thursday": "5-10 PM",
                      "Friday": "5-10 PM",
                      "Saturday": "5-10 PM",
                      "Sunday": "5-9 PM"
                    }
                  },
                  {
                    "delivery": {
                      "Monday": "11:30 AM-3:30 PM,5-10 PM",
                      "Tuesday": "11:30 AM-3:30 PM,5-10 PM",
                      "Wednesday": "11:30 AM-3:30 PM,5-10 PM",
                      "Thursday": "11:30 AM-3:30 PM,5-10 PM",
                      "Friday": "Closed",
                      "Saturday": "Closed",
                      "Sunday": "11 AM-3 PM,5-10 PM"
                    }
                  },
                  {
                    "takeout": {
                      "Monday": "11:30 AM-3:30 PM,5-10 PM",
                      "Tuesday": "11:30 AM-3:30 PM,5-10 PM",
                      "Wednesday": "11:30 AM-3:30 PM,5-10 PM",
                      "Thursday": "11:30 AM-3:30 PM,5-10 PM",
                      "Friday": "Closed",
                      "Saturday": "Closed",
                      "Sunday": "11 AM-3 PM,5-10 PM"
                    }
                  },
                  {
                    "brunch": {
                      "Monday": "Closed",
                      "Tuesday": "Closed",
                      "Wednesday": "Closed",
                      "Thursday": "Closed",
                      "Friday": "Closed",
                      "Saturday": "10 AM-3 PM",
                      "Sunday": "10 AM-3 PM"
                    }
                  }
                ],
                "business_status": "OPERATIONAL",
                "about": {
                  "Service options": {
                    "Delivery": true,
                    "Takeout": true,
                    "Dine-in": true
                  },
                  "Highlights": {
                    "Great coffee": true,
                    "Great dessert": true,
                    "Great tea selection": true
                  },
                  "Popular for": {
                    "Lunch": true,
                    "Dinner": true,
                    "Solo dining": true
                  },
                  "Accessibility": {
                    "Wheelchair accessible entrance": true,
                    "Wheelchair accessible restroom": true,
                    "Wheelchair accessible seating": true,
                    "Wheelchair accessible parking lot": false
                  },
                  "Offerings": {
                    "Alcohol": true,
                    "Beer": true,
                    "Cocktails": true,
                    "Coffee": true,
                    "Comfort food": true,
                    "Hard liquor": true,
                    "Healthy options": true,
                    "Late-night food": true,
                    "Small plates": true,
                    "Vegetarian options": true,
                    "Wine": true
                  },
                  "Dining options": {
                    "Brunch": true,
                    "Lunch": true,
                    "Dinner": true,
                    "Dessert": true,
                    "Seating": true
                  },
                  "Amenities": {
                    "Bar onsite": true,
                    "High chairs": true,
                    "Restroom": true,
                    "Wi-Fi": true
                  },
                  "Atmosphere": {
                    "Romantic": true,
                    "Upscale": true
                  },
                  "Crowd": {
                    "Family-friendly": true,
                    "Groups": true,
                    "LGBTQ+ friendly": true,
                    "Tourists": true,
                    "Transgender safespace": true
                  },
                  "Planning": {
                    "Lunch reservations recommended": true,
                    "Dinner reservations recommended": true,
                    "Accepts reservations": true,
                    "Usually a wait": true
                  },
                  "Payments": {
                    "Debit cards": true,
                    "Credit cards": true
                  },
                  "Other": {
                    "LGBTQ+ friendly": true
                  }
                },
                "range": "$$$",
                "reviews_per_score": {
                  "1": 50,
                  "2": 35,
                  "3": 113,
                  "4": 394,
                  "5": 1174
                },
                "reservation_links": [
                  "https://resy.com/cities/ny/upland",
                  "https://uplandnyc.com/?utm_source=Google%20My%20Business&utm_medium=Reservation%20Button"
                ],
                "booking_appointment_link": "https://resy.com/cities/ny/upland",
                "menu_link": null,
                "order_links": null,
                "owner_id": "111762591187585073824",
                "verified": true,
                "owner_title": "Upland",
                "owner_link": "https://www.google.com/maps/contrib/111762591187585073824",
                "location_link": "https://www.google.com/maps/place/Upland/@40.7419313,-73.984644,14z/data=!4m8!1m2!2m1!1sUpland!3m4!1s0x89c259a715fb5059:0xe5543b76e952fab3!8m2!3d40.7419313!4d-73.984644"
              },
              {
                "query": "restaurants, Manhattan, NY, USA",
                "name": "Scarpetta",
                "place_id": "ChIJt8W7n79ZwokRsyXs3QDbE3o",
                "google_id": "0x89c259bf9fbbc5b7:0x7a13db00ddec25b3",
                "full_address": "88 Madison Ave, New York, NY 10016",
                "borough": "Manhattan",
                "street": "88 Madison Ave",
                "postal_code": "10016",
                "area_service": false,
                "country_code": "US",
                "country": "United States of America",
                "city": "New York",
                "us_state": "New York",
                "state": "New York",
                "plus_code": null,
                "latitude": 40.7445818,
                "longitude": -73.9856202,
                "time_zone": "America/New_York",
                "popular_times": null,
                "site": "https://www.scarpettarestaurants.com/location/scarpetta-new-york-city/",
                "phone": "+1 212-691-0555",
                "type": "Italian restaurant",
                "logo": "https://lh3.googleusercontent.com/-PlU2AkPmFYA/AAAAAAAAAAI/AAAAAAAAAAA/Ecs5bmGchRU/s44-p-k-no-ns-nd/photo.jpg",
                "description": "Handmade pastas headline a sophisticated Italian menu at this upscale locale with a cool vibe.",
                "located_in": null,
                "located_google_id": null,
                "category": "restaurants",
                "subtypes": "Italian restaurant, Bar, Cocktail bar, Meat dish restaurant, Restaurant, Seafood restaurant, Vegetarian restaurant, Wine bar",
                "posts": null,
                "reviews_tags": null,
                "rating": 4.4,
                "reviews": 1734,
                "photos_count": 2511,
                "cid": "8796615293954434483",
                "reviews_link": "https://search.google.com/local/reviews?placeid=ChIJt8W7n79ZwokRsyXs3QDbE3o&q=restaurants,+Manhattan,+NY,+USA&authuser=0&hl=en&gl=US",
                "reviews_id": "8796615293954434483",
                "photo": "https://lh5.googleusercontent.com/p/AF1QipO1zbH5T9c9zf0OMsJP-8E5Ghwbm9cWlIo8ehqF=w800-h500-k-no",
                "street_view": "https://lh5.googleusercontent.com/p/AF1QipO1zbH5T9c9zf0OMsJP-8E5Ghwbm9cWlIo8ehqF=w1600-h1000-k-no",
                "working_hours_old_format": "Monday: 5:30-9:30 PM | Tuesday: 5:30-10 PM | Wednesday: 5:30-10 PM | Thursday: 5:30-11 PM | Friday: 5:30-11 PM | Saturday: 5-11 PM | Sunday: 5:30-9:30 PM",
                "working_hours": {
                  "Monday": "5:30-9:30 PM",
                  "Tuesday": "5:30-10 PM",
                  "Wednesday": "5:30-10 PM",
                  "Thursday": "5:30-11 PM",
                  "Friday": "5:30-11 PM",
                  "Saturday": "5-11 PM",
                  "Sunday": "5:30-9:30 PM"
                },
                "other_hours": [
                  {
                    "lunch": {
                      "Monday": "11:30 AM-2:30 PM",
                      "Tuesday": "11:30 AM-2:30 PM",
                      "Wednesday": "11:30 AM-2:30 PM",
                      "Thursday": "11:30 AM-2:30 PM",
                      "Friday": "11:30 AM-2:30 PM",
                      "Saturday": "Closed",
                      "Sunday": "Closed"
                    }
                  },
                  {
                    "brunch": {
                      "Monday": "Closed",
                      "Tuesday": "Closed",
                      "Wednesday": "Closed",
                      "Thursday": "Closed",
                      "Friday": "Closed",
                      "Saturday": "Closed",
                      "Sunday": "11:30 AM-3 PM"
                    }
                  }
                ],
                "business_status": "OPERATIONAL",
                "about": {
                  "Service options": {
                    "Outdoor seating": true,
                    "No-contact delivery": true,
                    "Delivery": true,
                    "Takeout": true,
                    "Dine-in": true
                  },
                  "Highlights": {
                    "Great coffee": true,
                    "Great dessert": true
                  },
                  "Popular for": {
                    "Lunch": true,
                    "Dinner": true,
                    "Solo dining": true
                  },
                  "Accessibility": {
                    "Wheelchair accessible elevator": true,
                    "Wheelchair accessible entrance": true,
                    "Wheelchair accessible restroom": true,
                    "Wheelchair accessible seating": true,
                    "Wheelchair accessible parking lot": false
                  },
                  "Offerings": {
                    "Alcohol": true,
                    "Beer": true,
                    "Cocktails": true,
                    "Coffee": true,
                    "Comfort food": true,
                    "Hard liquor": true,
                    "Late-night food": true,
                    "Small plates": true,
                    "Vegetarian options": true,
                    "Wine": true
                  },
                  "Dining options": {
                    "Brunch": true,
                    "Lunch": true,
                    "Dinner": true,
                    "Dessert": true,
                    "Seating": true
                  },
                  "Amenities": {
                    "Bar onsite": true,
                    "High chairs": true,
                    "Restroom": true,
                    "Wi-Fi": true
                  },
                  "Atmosphere": {
                    "Cozy": true,
                    "Romantic": true,
                    "Trending": true,
                    "Upscale": true
                  },
                  "Crowd": {
                    "Groups": true,
                    "Tourists": true
                  },
                  "Planning": {
                    "Lunch reservations recommended": true,
                    "Reservations required": true,
                    "Dinner reservations recommended": true,
                    "Accepts reservations": true,
                    "Usually a wait": true
                  },
                  "Payments": {
                    "Debit cards": true
                  }
                },
                "range": "$$$",
                "reviews_per_score": {
                  "1": 78,
                  "2": 48,
                  "3": 105,
                  "4": 311,
                  "5": 1192
                },
                "reservation_links": [
                  "https://www.sevenrooms.com/reservations/scarpettanyc/"
                ],
                "booking_appointment_link": "https://www.sevenrooms.com/reservations/scarpettanyc/",
                "menu_link": null,
                "order_links": null,
                "owner_id": "109938846905004437020",
                "verified": true,
                "owner_title": "Scarpetta",
                "owner_link": "https://www.google.com/maps/contrib/109938846905004437020",
                "location_link": "https://www.google.com/maps/place/Scarpetta/@40.7445818,-73.9856202,14z/data=!4m8!1m2!2m1!1sScarpetta!3m4!1s0x89c259bf9fbbc5b7:0x7a13db00ddec25b3!8m2!3d40.7445818!4d-73.9856202"
              },
              {
                "query": "restaurants, Manhattan, NY, USA",
                "name": "The Smith",
                "place_id": "ChIJbd5El_VYwokRFEtA5j2r7Ls",
                "google_id": "0x89c258f59744de6d:0xbbecab3de6404b14",
                "full_address": "1900 Broadway, New York, NY 10023",
                "borough": "Manhattan",
                "street": "1900 Broadway",
                "postal_code": "10023",
                "area_service": false,
                "country_code": "US",
                "country": "United States of America",
                "city": "New York",
                "us_state": "New York",
                "state": "New York",
                "plus_code": null,
                "latitude": 40.7716564,
                "longitude": -73.98164009999999,
                "time_zone": "America/New_York",
                "popular_times": null,
                "site": "https://thesmithrestaurant.com/",
                "phone": "+1 212-496-5700",
                "type": "American restaurant",
                "logo": "https://lh4.googleusercontent.com/-fqfbzlCALtQ/AAAAAAAAAAI/AAAAAAAAAAA/5juorAHeJbk/s44-p-k-no-ns-nd/photo.jpg",
                "description": "Lively place for classic American fare & specialty cocktails in spacious digs with a hopping bar.",
                "located_in": null,
                "located_google_id": null,
                "category": "restaurants",
                "subtypes": "American restaurant, Breakfast restaurant, Brunch restaurant, Oyster bar restaurant",
                "posts": null,
                "reviews_tags": null,
                "rating": 4.4,
                "reviews": 4077,
                "photos_count": 3173,
                "cid": "13541386461940566804",
                "reviews_link": "https://search.google.com/local/reviews?placeid=ChIJbd5El_VYwokRFEtA5j2r7Ls&q=restaurants,+Manhattan,+NY,+USA&authuser=0&hl=en&gl=US",
                "reviews_id": "-4905357611768984812",
                "photo": "https://lh5.googleusercontent.com/p/AF1QipMso9TjAKjpXFNR917LF5Toz_WHj1I4MwsvUo7a=w800-h500-k-no",
                "street_view": "https://lh5.googleusercontent.com/p/AF1QipMso9TjAKjpXFNR917LF5Toz_WHj1I4MwsvUo7a=w1600-h1000-k-no",
                "working_hours_old_format": "Monday: 8 AM-11 PM | Tuesday: 8 AM-11 PM | Wednesday: 8 AM-11 PM | Thursday: 8 AM-11 PM | Friday: 8 AM-12 AM | Saturday: 9 AM-12 AM | Sunday: 9 AM-11 PM",
                "working_hours": {
                  "Monday": "8 AM-11 PM",
                  "Tuesday": "8 AM-11 PM",
                  "Wednesday": "8 AM-11 PM",
                  "Thursday": "8 AM-11 PM",
                  "Friday": "8 AM-12 AM",
                  "Saturday": "9 AM-12 AM",
                  "Sunday": "9 AM-11 PM"
                },
                "other_hours": [
                  {
                    "brunch": {
                      "Monday": "Closed",
                      "Tuesday": "Closed",
                      "Wednesday": "Closed",
                      "Thursday": "Closed",
                      "Friday": "Closed",
                      "Saturday": "9 AM-4 PM",
                      "Sunday": "9 AM-4 PM"
                    }
                  }
                ],
                "business_status": "OPERATIONAL",
                "about": {
                  "Service options": {
                    "Outdoor seating": true,
                    "Curbside pickup": true,
                    "Delivery": true,
                    "Takeout": true,
                    "Dine-in": true
                  },
                  "Highlights": {
                    "Fast service": true,
                    "Great cocktails": true,
                    "Great coffee": true,
                    "Great dessert": true
                  },
                  "Popular for": {
                    "Breakfast": true,
                    "Lunch": true,
                    "Dinner": true,
                    "Solo dining": true
                  },
                  "Accessibility": {
                    "Wheelchair accessible elevator": true,
                    "Wheelchair accessible entrance": true,
                    "Wheelchair accessible restroom": true,
                    "Wheelchair accessible seating": true
                  },
                  "Offerings": {
                    "Alcohol": true,
                    "Beer": true,
                    "Cocktails": true,
                    "Coffee": true,
                    "Comfort food": true,
                    "Happy hour drinks": true,
                    "Happy hour food": true,
                    "Hard liquor": true,
                    "Healthy options": true,
                    "Kids' menu": true,
                    "Late-night food": true,
                    "Organic dishes": true,
                    "Quick bite": true,
                    "Small plates": true,
                    "Wine": true
                  },
                  "Dining options": {
                    "Breakfast": true,
                    "Brunch": true,
                    "Lunch": true,
                    "Dinner": true,
                    "Dessert": true,
                    "Seating": true
                  },
                  "Amenities": {
                    "Bar onsite": true,
                    "Good for kids": true,
                    "High chairs": true,
                    "Restroom": true,
                    "Wi-Fi": true
                  },
                  "Atmosphere": {
                    "Casual": true,
                    "Cozy": true
                  },
                  "Crowd": {
                    "Family-friendly": true,
                    "Groups": true,
                    "Tourists": true
                  },
                  "Planning": {
                    "Lunch reservations recommended": true,
                    "Dinner reservations recommended": true,
                    "Accepts reservations": true,
                    "Usually a wait": true
                  },
                  "Payments": {
                    "NFC mobile payments": true
                  }
                },
                "range": "$$",
                "reviews_per_score": {
                  "1": 102,
                  "2": 96,
                  "3": 327,
                  "4": 1253,
                  "5": 2299
                },
                "reservation_links": [
                  "https://thesmithrestaurant.com/location/lincoln-square/",
                  "https://www.opentable.com/restaurant/profile/98185?ref=1068"
                ],
                "booking_appointment_link": "https://thesmithrestaurant.com/location/lincoln-square/",
                "menu_link": null,
                "order_links": null,
                "owner_id": "103162007826525695972",
                "verified": true,
                "owner_title": "The Smith",
                "owner_link": "https://www.google.com/maps/contrib/103162007826525695972",
                "location_link": "https://www.google.com/maps/place/The+Smith/@40.7716564,-73.98164009999999,14z/data=!4m8!1m2!2m1!1sThe+Smith!3m4!1s0x89c258f59744de6d:0xbbecab3de6404b14!8m2!3d40.7716564!4d-73.98164009999999"
              }
            ]
          ]
        },
        "google_search_flight": {},
        "google_maps_reviews": {
          "id": "your-request-id",
          "status": "Success",
          "data": [
            {
              "name": "The NoMad Restaurant",
              "full_address": "1170 Broadway, New York, NY 10001",
              "rating": 4.7,
              "reviews": 775,
              "reviews_data": [
                {
                  "google_id": "0x89c259a60b120b1d:0xec845e2f4e9ce9f0",
                  "author_link": "https://www.google.com/maps/contrib/104170839246363926920?hl=en-US",
                  "author_title": "Mohamed Alkhouri",
                  "author_id": "104170839246363926920",
                  "author_image": "https://lh3.googleusercontent.com/a-/AOh14Gia8pJbpg5di2qVBPl-TYOVq2ivAMsgkW9r5YKROFI=s120-c-c0x00000000-cc-rp-mo-ba6-br100",
                  "review_text": "This one of the best restaurants in NYC. They have the best food that no one can make like it. Professional services and staff. The chf is the best cooker at all. The drinks and the soft drinks are the best. In short cut, the are all what you looking for if you are hungry or with someone you love. I don't visit the restaurant, but my brother is student there and I trust his tastes. I download the photos from the Google. Thanks to everyone and have a nice meal in the best restaurant.",
                  "review_img_url": "https://lh5.googleusercontent.com/p/AF1QipMKASaZtgif3BpoPZ8zmWpOUxA8reNzG3Ukk4SW",
                  "review_img_urls": [
                    "https://lh5.googleusercontent.com/p/AF1QipMKASaZtgif3BpoPZ8zmWpOUxA8reNzG3Ukk4SW"
                  ],
                  "owner_answer": null,
                  "owner_answer_timestamp": null,
                  "owner_answer_timestamp_datetime_utc": null,
                  "review_link": "https://www.google.com/maps/reviews/data=!4m5!14m4!1m3!1m2!1s104170839246363926920!2s0x0:0xec845e2f4e9ce9f0?hl=en-US",
                  "review_rating": 5,
                  "review_timestamp": 1616000898,
                  "review_datetime_utc": "03/17/2021 17:08:18",
                  "review_likes": 0,
                  "reviews_id": "-1403893626557371920"
                },
                {
                  "google_id": "0x89c259a60b120b1d:0xec845e2f4e9ce9f0",
                  "author_link": "https://www.google.com/maps/contrib/100439884166244262419?hl=en-US",
                  "author_title": "Dong Kyu Kim",
                  "author_id": "100439884166244262419",
                  "author_image": "https://lh3.googleusercontent.com/a-/AOh14GjkEPOWpXjbS80IEt0brUantU33gb-TwoSmznqZUbA=s120-c-c0x00000000-cc-rp-mo-ba2-br100",
                  "review_text": "Great views with great heaters. I felt hot while eating even though they had a perfect outdoor setting with air flowing.\nThe food was great as well as the service.\nMy favorite part of the chicken dinner was the deviled eggs and thigh/leg part of the chicken.\nDessert was also really good!",
                  "review_img_url": "https://lh5.googleusercontent.com/p/AF1QipPXomo_OkXx4XD16VyRXBCKepoZ1djXYU01yY9O",
                  "review_img_urls": [
                    "https://lh5.googleusercontent.com/p/AF1QipPXomo_OkXx4XD16VyRXBCKepoZ1djXYU01yY9O"
                  ],
                  "owner_answer": null,
                  "owner_answer_timestamp": null,
                  "owner_answer_timestamp_datetime_utc": null,
                  "review_link": "https://www.google.com/maps/reviews/data=!4m5!14m4!1m3!1m2!1s100439884166244262419!2s0x0:0xec845e2f4e9ce9f0?hl=en-US",
                  "review_rating": 5,
                  "review_timestamp": 1611152718,
                  "review_datetime_utc": "01/20/2021 14:25:18",
                  "review_likes": 1,
                  "reviews_id": "-1403893626557371920"
                },
                {
                  "google_id": "0x89c259a60b120b1d:0xec845e2f4e9ce9f0",
                  "author_link": "https://www.google.com/maps/contrib/105269840870997446655?hl=en-US",
                  "author_title": "Roseanne Whiteley",
                  "author_id": "105269840870997446655",
                  "author_image": "https://lh3.googleusercontent.com/a-/AOh14GiaSTU86h8dauTbalOWLg6esfcyI9TfSg8s6Iw4=s120-c-c0x00000000-cc-rp-mo-br100",
                  "review_text": "I'm going to this restaurant for the third time, and I've always been pleased with the service they offer. The service was excellent, polite, competent, and knowledgeable. We had a sense of sincere concern from the workers. They were really professional and polite as well. Many thanks! Your restaurant should be strongly recommended! Cheer for your win!",
                  "review_img_url": "https://lh3.googleusercontent.com/a-/AOh14GiaSTU86h8dauTbalOWLg6esfcyI9TfSg8s6Iw4",
                  "review_img_urls": [
                    "https://lh5.googleusercontent.com/a-/AOh14GiaSTU86h8dauTbalOWLg6esfcyI9TfSg8s6Iw4"
                  ],
                  "owner_answer": null,
                  "owner_answer_timestamp": null,
                  "owner_answer_timestamp_datetime_utc": null,
                  "review_link": "https://www.google.com/maps/reviews/data=!4m5!14m4!1m3!1m2!1s105269840870997446655!2s0x0:0xec845e2f4e9ce9f0?hl=en-US",
                  "review_rating": 5,
                  "review_timestamp": 1615839713,
                  "review_datetime_utc": "03/15/2021 20:21:53",
                  "review_likes": 0,
                  "reviews_id": "-1403893626557371920"
                }
              ],
              "google_id": "0x89c259a60b120b1d:0xec845e2f4e9ce9f0",
              "place_id": "ChIJHQsSC6ZZwokR8OmcTi9ehOw",
              "reviews_link": "https://search.google.com/local/reviews?placeid=ChIJHQsSC6ZZwokR8OmcTi9ehOw&q=The+NoMad+Restaurant,+NY,+USA&authuser=0&hl=en&gl=US",
              "reviews_id": "-1403893626557371920",
              "reviews_per_score": {
                "1": 9,
                "2": 9,
                "3": 38,
                "4": 124,
                "5": 595
              },
              "location_link": "https://www.google.com/maps/place/The+NoMad+Restaurant/@40.7449586,-73.9884885,14z/data=!4m8!1m2!2m1!1sThe+NoMad+Restaurant!3m4!1s0x89c259a60b120b1d:0xec845e2f4e9ce9f0!8m2!3d40.7449586!4d-73.9884885"
            }
          ]
        },
        "google_maps_photos": {
          "id": "your-request-id",
          "status": "Success",
          "data": [
            [
              {
                "name": "Trump Tower",
                "place_id": "ChIJrc9T9fpYwokRdvjYRHT8nI4",
                "google_id": "0x89c258faf553cfad:0x8e9cfc7444d8f876",
                "full_address": "725 5th Ave, New York, NY 10022",
                "location_link": "https://www.google.com/maps/place/Trump+Tower/@40.7624284,-73.973794,14z/data=!4m8!1m2!2m1!1sTrump+Tower!3m4!1s0x89c258faf553cfad:0x8e9cfc7444d8f876!8m2!3d40.7624284!4d-73.973794",
                "photos_data": [
                  {
                    "photo_id": "AF1QipOWVDj4328cybOEP6-BsLxnUY7PJL8sW2LNjC9n",
                    "photo_url": "https://lh5.googleusercontent.com/p/AF1QipOWVDj4328cybOEP6-BsLxnUY7PJL8sW2LNjC9n",
                    "photo_url_big": "https://lh5.googleusercontent.com/p/AF1QipOWVDj4328cybOEP6-BsLxnUY7PJL8sW2LNjC9n=w2048-h2048-k-no",
                    "latitude": 40.762428410640254,
                    "longitude": -73.97379403006005
                  },
                  {
                    "photo_id": "AF1QipOBtXJqlf8tzHi8lxaEIQJVuPR_hWNnuXjqoZ3S",
                    "photo_url": "https://lh5.googleusercontent.com/p/AF1QipOBtXJqlf8tzHi8lxaEIQJVuPR_hWNnuXjqoZ3S",
                    "photo_url_big": "https://lh5.googleusercontent.com/p/AF1QipOBtXJqlf8tzHi8lxaEIQJVuPR_hWNnuXjqoZ3S=w2048-h2048-k-no",
                    "latitude": 40.762428410640254,
                    "longitude": -73.97379403006005
                  },
                  {
                    "photo_id": "AF1QipNDAQVYbZRPCxuL9s4jfgNcEs9dJog-GAiEpsGZ",
                    "photo_url": "https://lh5.googleusercontent.com/p/AF1QipNDAQVYbZRPCxuL9s4jfgNcEs9dJog-GAiEpsGZ",
                    "photo_url_big": "https://lh5.googleusercontent.com/p/AF1QipNDAQVYbZRPCxuL9s4jfgNcEs9dJog-GAiEpsGZ=w2048-h2048-k-no",
                    "latitude": 40.762579099999996,
                    "longitude": -73.97426109999999
                  }
                ]
              }
            ]
          ]
        },
        "google_search": {
          "id": "your-request-id",
          "status": "Success",
          "data": [
            {
              "query": "buy iphone 13 TX",
              "organic_results": [
                {
                  "link": "https://www.apple.com/shop/buy-iphone/iphone-13-pro",
                  "title": "New Buy iPhone 13 Pro - Apple",
                  "description": "Get iPhone 13 Pro or iPhone 13 Pro Max for an amazing price with special carrier trade-in offers. Make low monthly payments at 0% APR. Free shipping."
                },
                {
                  "link": "https://www.att.com/stores/texas/dallas/new-iphone",
                  "title": "Get iPhone 13 Pro Max in Dallas - Texas - ATT",
                  "description": "Find the iPhone 13 Pro Max in Dallas from AT&T or shop online & choose a delivery option that suits your needs, including free express shipping & curbside ..."
                },
                {
                  "link": "https://www.verizon.com/stores/texas/houston/west-road-285138/smartphones/apple-iphone-13-pro-max/",
                  "title": "Apple Iphone 13 Pro Max in Houston Texas | Verizon",
                  "description": "Shop Apple Iphone 13 Pro Max at Verizon in Houston , Texas stores. Find updated store hours, deals and directions to Verizon stores in Houston."
                },
                {
                  "link": "https://www.bestbuy.com/site/iphone/shop-iphone-13-models/pcmcat1631714593943.c?id=pcmcat1631714593943",
                  "title": "Select iPhone 13 Save up to $800 - Best Buy",
                  "description": "Shop Best Buy and choose the iPhone model that's right for you. Select from the iPhone 13 mini, iPhone 13, iPhone 13 Pro and the iPhone 13 Pro Max."
                },
                {
                  "link": "https://www.metrobyt-mobile.com/shop/phones/details/Apple-iPhone-13-M1-128GB/194252838198",
                  "title": "New Apple iPhone 13 | 5G, Pink, 128GB | Metro by T-Mobile",
                  "description": "Switcher Instant Rebate: For a limited time at participating Metro® by T-Mobile stores, purchase an Phone 13 (128GB) and port-in an existing eligible wireless ...$629.99 to $829.99In stock"
                },
                {
                  "link": "https://www.target.com/p/apple-iphone-13-pro-max/-/A-84616123",
                  "title": "Apple Iphone 13 Pro Max - Target",
                  "description": "Read reviews and buy Apple iPhone 13 Pro Max at Target. Choose from Same Day Delivery, Drive Up or Order Pickup. Free standard shipping with $35 orders.Rating: 4.650 reviews"
                },
                {
                  "link": "https://www.walmart.com/browse/iphone-13/c2hlbGZfaWQ6NzUxNzk0NQieie",
                  "title": "iPhone 13 - Walmart",
                  "description": "Shop for iPhone 13. Buy products such as iPhone 13 Pro Max (AT&T & Verizon), iPhone 13 Pro (AT&T & Verizon), iPhone 13 (AT&T & Verizon) at Walmart and save."
                }
              ],
              "ads": [
                {
                  "link": "https://buy.gazelle.com/collections/iphone-13-pro-max",
                  "title": "iPhone 13 Pro Max Refurbished - iPhone 13 Pro Max Unlocked",
                  "description": "Choose Carriers, Colors, Conditions & More. Buy iPhone 13 pro max. Used iPhone 13 Pro Max for Sale From Gazelle® - Simple, Convenient, Works For Everyone."
                }
              ],
              "shopping_results": [
                {
                  "link": "https://www.verizon.com/smartphones/apple-iphone-13-pro-max/?sku=sku5230109",
                  "title": "Title of Apple iPhone 13 ProMax 128 GB in Alpine Green with installment",
                  "price": "$0.00",
                  "source": "Verizon"
                },
                {
                  "link": "https://www.apple.com/us/shop/go/product/MLMT3?cppart=UNLOCKED&cid=aos-us-seo-pla",
                  "title": "Title of iPhone 13 - 128GB Blue - Unlocked & SIM Free - Apple",
                  "price": "$829.00",
                  "source": "Apple"
                },
                {
                  "link": "https://www.t-mobile.com/cell-phone/apple-iphone-13-pro-max?sku=194252697719",
                  "title": "Title of Apple iPhone 13 Pro Max - Sierra Blue - 1TB (with 24 monthly payments)",
                  "price": "$499.99",
                  "source": "T-Mobile"
                }
              ],
              "related_questions": [
                {
                  "link": "https://www.apple.com/newsroom/2021/09/apple-offers-more-ways-to-shop-for-the-iphone-13-lineup-ipad-and-ipad-mini/",
                  "title": "Can you buy an iPhone 13 instore?",
                  "description": "The full iPhone 13 and iPad product lineups will be available in stores and delivered to customers beginning Friday, September 24. With an entirely redesigned online store, shopping with Apple online or in-store is simpler than ever.Sep 16, 2021"
                },
                {
                  "link": "https://www.macworld.com/article/540445/iphone-13-buy-now-or-wait.html",
                  "title": "Is iPhone 13 available to buy now?",
                  "description": "If you don't, there's an easy rule: Apple typically releases new iPhones in September, so don't buy a new iPhone shortly before that. 2021 was no exception—Apple put the iPhone 13 series up for sale on September 24.Feb 4, 2022"
                },
                {
                  "link": "https://www.cnet.com/tech/mobile/the-best-iphone-13-deals-are-here-target-best-buy-verizon-and-more/",
                  "title": "How much does it cost to buy a iPhone 13?",
                  "description": "$799iPhone 13 starts at $799. iPhone 13 Mini starts at $699. iPhone 13 Pro starts at $999.Sep 28, 2021"
                }
              ]
            }
          ]
        },
        "google_search_news": {
          "id": "your-request-id",
          "status": "Success",
          "data": [
            [
              {
                "query": "bitcoin",
                "position": 1,
                "title": "On-chain data flashes Bitcoin buy signals, but the bottom could be under \n$20K",
                "body": "Multiple indicators signal that BTC could be in a “buy zone” but analysts \ncaution that its price could still dip below $20000.",
                "posted": "1 hour ago",
                "link": "https://cointelegraph.com/news/on-chain-data-flashes-bitcoin-buy-signals-but-the-bottom-could-be-under-20k"
              },
              {
                "query": "bitcoin",
                "position": 2,
                "title": "Crypto’s Future Is Even More Exciting Than Its Present",
                "body": "Panelists at our inaugural cryptocurrency roundtable offer bold predictions \nfor Bitcoin, stablecoins, blockchain, and more.",
                "posted": "49 mins ago",
                "link": "https://www.barrons.com/articles/bitcoin-crypto-blockchain-investing-51653676116"
              },
              {
                "query": "bitcoin",
                "position": 3,
                "title": "One River’s Carbon Neutral Bitcoin ETF Rejected by SEC",
                "body": "Don't miss CoinDesk's Consensus 2022, the must-attend crypto & blockchain \nfestival experience of the year in Austin, TX this June 9-12.",
                "posted": "1 hour ago",
                "link": "https://uk.sports.yahoo.com/news/one-river-carbon-neutral-bitcoin-190209828.html"
              }
            ]
          ]
        },
        "google_search_events": {
          "id": "your-request-id",
          "status": "Success",
          "data": []
        },
        "google_search_videos": {
          "id": "your-request-id",
          "status": "Success",
          "data": [
            [
              {
                "query": "outscraper",
                "position": 1,
                "link": "https://outscraper.com/",
                "title": "Outscraper - get any public data from the internet",
                "body": "Outscraper is providing fast and reliable data on Google Maps locations, in a simple and intuitive interface. The platform has advanced features, ...Outscraper · Outscraper team · Feb 9, 2019"
              },
              {
                "query": "outscraper",
                "position": 2,
                "link": "https://outscraper.com/b2b-leads-extractor/",
                "title": "B2B Leads Extractor - Free Tier | Outscraper",
                "body": "Is it legal to scrape data? Scraping and extracting of public data is protected ...Outscraper · Outscraper team · Dec 8, 2021"
              },
              {
                "query": "outscraper",
                "position": 3,
                "link": "https://twitter.com/outscraper?lang=en",
                "title": "Outscraper - Twitter",
                "body": "Outscraper is the quickest and the simplest way for professionals to export data from a variety of public sources. To learn more about Outscraper, please vis...Twitter · Oct 5, 2021"
              }
            ]
          ]
        },
        "google_search_images": {
          "id": "your-request-id",
          "status": "Success",
          "data": [
            [
              {
                "query": "iphone",
                "position": 1,
                "original_image": "",
                "title": "Buy iPhone 11 - Apple",
                "source": "apple.com",
                "source_link": "https://www.apple.com/shop/buy-iphone/iphone-11"
              },
              {
                "query": "iphone",
                "position": 2,
                "original_image": "https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-12-family-select-2021?wid=940&hei=1112&fmt=jpeg&qlt=90&.v=1617135051000",
                "title": "Buy iPhone 12 and iPhone 12 mini - Apple",
                "source": "apple.com",
                "source_link": "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.apple.com%2Fshop%2Fbuy-iphone%2Fiphone-12&psig=AOvVaw2uqlbYdMQn4a6OHbkjPPFf&ust=1652790673122000&source=images&cd=vfe&ved=2ahUKEwiLi_mYg-T3AhUeCBAIHWJTCoIQr4kDegUIARDaAQ"
              },
              {
                "query": "iphone",
                "position": 3,
                "original_image": "https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone11-black-select-2019?wid=940&hei=1112&fmt=png-alpha&.v=1566956144418",
                "title": "iPhone 11 64GB Black - Apple",
                "source": "apple.com",
                "source_link": "https://www.apple.com/shop/buy-iphone/iphone-11/6.1-inch-display-64gb-black-unlocked"
              }
            ]
          ]
        },
        "google_search_shopping": {
          "id": "your-request-id",
          "status": "Success",
          "data": [
            [
              {
                "query": "iphone",
                "position": 1,
                "link": "https://www.google.com/shopping/product/437651240330897754?q=iphone&hl=en&gl=US&uule=w+CAIQICINdW5pdGVkIHN0YXRlcw&gs_lcp=UvHSLA7Uz640JlchZYoULTOTy09hxrjXrbg1BddDeXJ1L8hKvAxhTGpJh681VIB&prds=eto:10095595960159233791_0,pid:16627194887412580682,rsk:PC_8217023720749633348&sa=X&ved=0ahUKEwjeu_vYub74AhWjj2oFHeQACRYQ8gII4BAoAA",
                "image": "https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcT3nKfqR3-wmqMxiSP-9MWZoHC87ST6G_T7ehZ8SNPjNTx62Mt8eAc-tJgSsSn_0PvARuFrq_UY53JOLehu7DMvkwqITL3Lgb2Z3JIZ3usVp-apzrcV-SScsw&usqp=CAE",
                "title": "Apple iPhone 13 Pro Max - 128 GB - Alpine Green",
                "options": "4.69,848",
                "id": "16627194887412580682",
                "source": "Apple",
                "source_link": "https://www.google.com/url?url=https://www.apple.com/us/shop/go/product/MNCP3%3Fcppart%3DUNLOCKED%26cid%3Daos-us-seo-pla&rct=j&q=&esrc=s&sa=U&ved=0ahUKEwjeu_vYub74AhWjj2oFHeQACRYQguUECOkQ&usg=AOvVaw00X6LdGKmQSLn67LlB6LPP",
                "delivery": "Free delivery & Free 14-day returns",
                "price": "$1,099.00",
                "parsed_price": 1099
              },
              {
                "query": "iphone",
                "position": 2,
                "link": "https://www.google.com/shopping/product/3628886803268507508?q=iphone&hl=en&gl=US&uule=w+CAIQICINdW5pdGVkIHN0YXRlcw&gs_lcp=UvHSLA7Uz640JlchZYoULTOTy09hxrjXrbg1BddDeXJ1L8hKvAxhTGpJh681VIB&prds=eto:15912357296963554972_0,pid:11865528305208463674,rsk:PC_8971650804785857268&sa=X&ved=0ahUKEwjeu_vYub74AhWjj2oFHeQACRYQ8gII9BAoAA",
                "image": "https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRWxIGEb1fJRjba94du551MI4bqKa7IVDrLx_2SUc-skisFAnpU2Zk3BdyhBxZtdvf2oOnAhdfuaV7JAgVTZhxQYHqFCxaNqgq3udmR9mnZM0H1cwdTMyhd&usqp=CAE",
                "title": "Apple iPhone 13 - 128 GB - Green",
                "options": "4.67,547",
                "id": "11865528305208463674",
                "source": "Best Buy",
                "source_link": "https://www.google.com/url?url=https://www.bestbuy.com/site/apple-iphone-13-5g-128gb-green-verizon/6487362.p%3FskuId%3D6487362%26ref%3DNS%26loc%3D101&rct=j&q=&esrc=s&sa=U&ved=0ahUKEwjeu_vYub74AhWjj2oFHeQACRYQguUECP0Q&usg=AOvVaw3alRPH-ZQWxgpeQHBqycSg",
                "delivery": "Free delivery by Jun 27 & Free 30-day returns",
                "price": "4.6/5",
                "parsed_price": 4.6
              },
              {
                "query": "iphone",
                "position": 3,
                "link": "https://www.google.com/shopping/product/10710100573010676174?q=iphone&hl=en&gl=US&uule=w+CAIQICINdW5pdGVkIHN0YXRlcw&gs_lcp=UvHSLA7Uz640JlchZYoULTOTy09hxrjXrbg1BddDeXJ1L8hKvAxhTGpJh681VIB&prds=eto:1516518942022937630_0,pid:13982584929019165962,rsk:PC_12721096405768421674&sa=X&ved=0ahUKEwjeu_vYub74AhWjj2oFHeQACRYQ8gIIiREoAA",
                "image": "https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQ3s_S0UyOCmOtBiIX9XGoN9YroGi0QCRbUJaQA3c2OkdtPHfZoCBIjQLj7nz4H8HKOD3ArTDggeDL_VFPVnW_Q6_x-O_iV86vwyhjq4iE&usqp=CAE",
                "title": "Apple iPhone 13 Pro - 128 GB - Alpine Green",
                "options": "4.67,001",
                "id": "13982584929019165962",
                "source": "T-Mobile",
                "source_link": "https://www.google.com/url?url=https://www.t-mobile.com/cell-phone/apple-iphone-13-pro%3Fsku%3D194253118831&rct=j&q=&esrc=s&sa=U&ved=0ahUKEwjeu_vYub74AhWjj2oFHeQACRYQguUECJER&usg=AOvVaw39zC2xSjmvfIGfvQmaQKid",
                "delivery": "Free delivery",
                "price": "4.3/5",
                "parsed_price": 4.3
              }
            ]
          ]
        },
        "google_shopping_reviews": {
          "id": "your-request-id",
          "status": "Success",
          "data": [
            [
              {
                "query": "7016166685587850095",
                "product_name": "Apple iPhone 13 - 128 GB - Blue",
                "rating": 1,
                "title": "Came from XR, Not happy with the 13",
                "body": "My last few iPhones have lasted me a long time, I bought a 13 after almost 4 years with my XR (iPhone 10). With a good amount of time between purchases I normally see a big difference/improvement in many areas upon getting a new iphone. Not this time. Camera is supposed to be much higher quality - I can&#39;t get it to focus without having to manually switch a setting and even then the XR photos would focus better and show more detail in the photo. It sounds much worse than the XR did - on a call the sound quality is noticeably poorer than my XR. The style of the phone is reminiscent of an iPhone 4, boxy and small, fit is not as comfortable in my hand width wise as the XR (normal size XR) was. I&#39;m seeing no noticeable difference in operating speed and battery life which are supposed to be improved, does not appear to be any different for me over the XR. In all I wish I had taken my XR to a repair shop to confirm it was not able to be fixed instead of shelling out almost $900 for a new iPhone that in my opinion is a down grade from the XR three models prior! Note that NOT included in the box is the plug required to charge this phone, and no headphones. The lightening cord from a newer previous iPhone will work if your going from iPhone to iPhone but if you are new to an apple phone I guess Apple expects you to spend $900 for a phone and not even provide you with what you need to charge it! I&#39;ve never been disappointed with an iPhone purchase before (iPhone4, iPhone5, iPhone6, iPhoneXR) but I am now. Apple drastically lowered the bar on the standards of an apple product with the iPhone 13 (and it appears on the iPhone 12 as well from the reviews I&#39;m reading on them). I wish I hadn&#39;t been in a pinch causing me to make this purchase without researching first, mistake on my part.",
                "source": "vzw.com",
                "source_link": "http://verizonwireless.ugc.bazaarvoice.com/6543-en_us/dev16720001/review/215375582/redirect.htm?ctc_referralType=Shopping&ctc_referralDescription=Google",
                "author": "JMPF",
                "id": "3286903277271191692",
                "date": "March 7, 2022",
                "timestamp": 1646611200
              },
              {
                "query": "7016166685587850095",
                "product_name": "Apple iPhone 13 - 128 GB - Blue",
                "rating": 3,
                "title": "Headache for $1100 lol",
                "body": "I’m giving a three star review because the phone is still usable. <br><br>I purchased the iPhone 13 Pro Max. <br><br>I really wanted to say this is a straight up five star review but it&#39;s sadly not. In terms of build quality, they can have a billion stars. I think the build quality and the physical hardware is great and lives up to the expectation. <br><br>in terms of software, this feels like five steps backwards. When this phone came out with iOS 15 out the gate, I’m telling you right now, I got a solid three days of battery life on Heavy usage - in between charges, which I’ve never gotten out of anything I’ve ever tried. The software interface itself was super smooth and almost heavenly. The buttery smooth 120 Hz refresh rate is probably one of my favorite specs about this other than battery life. <br><br>Honestly, I massively regret forgetting to turn off automatic updates. Every update since iOS 15, my phone is a glitchy mess. Siri doesn’t like responding most of the time, phone calls drop or no one can hear me and I can&#39;t hear them, Bluetooth doesn’t like acknowledging any of my previously paired devices (i came from iPhone 11), even after removing them entirely and repairing them all over again. Screen share, airplay etc and whatever else doesn’t like to cooperate often. This phone just doesn’t feel like a smart phone anymore, after these last couple of software updates. <br><br>And I&#39;m really mad that I don&#39;t get 3 days on a charge anymore. I get maybe 2 full days. <br><br>I really hope that future updates fix this and bring back the glorious feeling the very first version of iOS 15 gave.",
                "source": "Google",
                "source_link": "",
                "author": "Tom Niz",
                "id": "-3598031973281430307",
                "date": "November 30, 2021",
                "timestamp": 1638230400
              },
              {
                "query": "7016166685587850095",
                "product_name": "Apple iPhone 13 - 128 GB - Blue",
                "rating": 5,
                "title": "Amazing phone but…",
                "body": "Most Notable changes from iPhone 12 to iPhone 13:<br><br>-Thicker/Heavier: 174g, previously 164g<br>-A15 Chip: previously A14 Chip<br>-Battery: 3240 mAh, previously 2815 mAh<br>-Brightness: 800 nits, previously 625 nits<br>-Storage: 128/256/512GB, previously 64/128/256GB<br>-Cameras: New/bigger sensors allow for more light capture/detail, New Photographic Styles and Cinematic Video effects.<br><br>The camera notch at the top is also noticeably smaller on the iPhone 13.<br><br>Opinions so far:<br>This iPhone 13 seems very similar to the iPhone 12. After using it for a few days, I can&#39;t say that there is anything dramatically different about this version compared to the iPhone 12. It feels slightly heavier, the screen is a bit brighter, the cameras seem to do a slightly better job in low light situations (sometimes), and it can shoot Cinematic Video, although I&#39;ve had mixed results with that feature. The new chip should be faster, and the bigger battery should last slightly longer; but I haven&#39;t really noticed much of a difference in either of those categories with my daily use so far.<br><br>I can&#39;t really see a compelling reason to upgrade from the iPhone 12 at the moment. If you are looking for a more noticeable upgrade, you might want to check out the Pro versions, as the iPhone 13 Pro and Pro Max have 120 Hz refresh rate screens that really stand out to me; and combined with the better cameras and extra GPU in the Pros, those might be worth the extra cost to you.",
                "source": "Best Buy",
                "source_link": "http://reviews.bestbuy.com/3545/6443178/review/274417300/redirect.htm?ctc_referralType=Shopping&ctc_referralDescription=Google",
                "author": "AnhHo",
                "id": "3504233510729422616",
                "date": "January 9, 2022",
                "timestamp": 1641686400
              }
            ]
          ]
        },
        "google_play_reviews": {
          "id": "your-request-id",
          "status": "Success",
          "data": [
            [
              {
                "author_title": "Isaac Bargamian",
                "author_id": "117932306222696996314",
                "author_image": "https://play-lh.googleusercontent.com/a/AATXAJzkP52tB-ljIK6axq4aLKNMOQiGM6C40kvaQd2Q=mo",
                "review_text": "It's so buggy. I use my phone to take pictures and then would like to be able make posts from my phone without having to upload them to my computer, but the app just struggles so much for the most basic functions. Sometimes it doesn't save/deletes what I've posted. For the size of Facebook and the resources at its disposal, you'd think they'd have a functional app.",
                "review_rating": 1,
                "review_likes": 254,
                "version": "324.0.0.48.120",
                "review_timestamp": 1625058524,
                "review_datetime_utc": "06/30/2021 13:08:44",
                "owner_answer": null,
                "owner_answer_timestamp": null,
                "owner_answer_timestamp_datetime_utc": null
              },
              {
                "author_title": "Bree Zocaro",
                "author_id": "113889750225711416824",
                "author_image": "https://play-lh.googleusercontent.com/a-/AOh14GiU7Mey6KWirY2EV0Lmn0qHXA96AWDhbnNWM2Ni",
                "review_text": "Considering I have been trying to log in for a week with no further progress, the fact this large corporation cannot even fix a few minor glitches like sending a code via text message. It's just a little ridiculous, not even an email to consult this issue privately, Just a bunch of generic emails I don't need that aren't helping.",
                "review_rating": 1,
                "review_likes": 786,
                "version": "324.0.0.48.120",
                "review_timestamp": 1625123788,
                "review_datetime_utc": "07/01/2021 07:16:28",
                "owner_answer": null,
                "owner_answer_timestamp": null,
                "owner_answer_timestamp_datetime_utc": null
              },
              {
                "author_title": "Dylan",
                "author_id": "114890948499114358541",
                "author_image": "https://play-lh.googleusercontent.com/a/AATXAJyJPkoL3gyIx3Fj5KJ2fvIhZCWNqw0lDl3zhQiu=mo",
                "review_text": "This app might as well be called Virtual Pocket Billboard. Whenever I wanna just look at ads, and nothing posted by anyone that I actually follow, I crack open some Facebook. Facebook used to be a really great tool for a lot of purposes such as promoting your business, band, art, whatever - or private sales in buy/sell/trade groups. But, like anything good, it only stays good for a short while until they figure out that they can monetize every cog in its system, and put an ad on every pixel.",
                "review_rating": 1,
                "review_likes": 192,
                "version": "324.0.0.48.120",
                "review_timestamp": 1625079208,
                "review_datetime_utc": "06/30/2021 18:53:28",
                "owner_answer": null,
                "owner_answer_timestamp": null,
                "owner_answer_timestamp_datetime_utc": null
              }
            ]
          ]
        },
        "booking_reviews": {
          "id": "your-request-id",
          "status": "Success",
          "data": [
            [
              {
                "query": "https://www.booking.com/hotel/pl/aparthotel.fr.html",
                "review_title": "Merveilleux",
                "review_liked_text": "Nous n’avons pas pris le petit déjeuner \rMais l’établissement est génial",
                "review_disliked_text": "La réception",
                "review_owner_response": "",
                "review_score": 10,
                "author_title": "Laurence",
                "author_country": "France",
                "author_room": "Studio Supérieur de Luxe",
                "author_type": "Couple",
                "author_stay_period": "4 nuits",
                "author_stay_date": "Février 2023",
                "review_date": "Commentaire envoyé le 1 mars 2023",
                "review_timestamp": null,
                "review_id": "6cc94c70a89be1a0"
              },
              {
                "query": "https://www.booking.com/hotel/pl/aparthotel.fr.html",
                "review_title": "Appart-hotel pratique et confortable en plein centre",
                "review_liked_text": "Emplacement parfait , chambre propre et originale, réception ouverte 24/24 et serviable",
                "review_disliked_text": "Chambre un peu étroite",
                "review_owner_response": "",
                "review_score": 80,
                "author_title": "Aurelie",
                "author_country": "France",
                "author_room": "Studio Supérieur",
                "author_type": "Couple",
                "author_stay_period": "2 nuits",
                "author_stay_date": "Septembre 2023",
                "review_date": "Commentaire envoyé le 26 octobre 2023",
                "review_timestamp": null,
                "review_id": "7f5209cc52c065b8"
              },
              {
                "query": "https://www.booking.com/hotel/pl/aparthotel.fr.html",
                "review_title": "Belle expérience dans un pays que je ne connaissais pas…",
                "review_liked_text": "Grandeur de la chambre et proximité du centre-ville…",
                "review_disliked_text": "Salle de bain trop petite…",
                "review_owner_response": "",
                "review_score": 80,
                "author_title": "Patrice",
                "author_country": "Suisse",
                "author_room": "Studio Supérieur",
                "author_type": "Groupe",
                "author_stay_period": "3 nuits",
                "author_stay_date": "Octobre 2023",
                "review_date": "Commentaire envoyé le 20 octobre 2023",
                "review_timestamp": null,
                "review_id": "ee0d975c67758ec7"
              }
            ]
          ]
        },
        "expedia_search": {
          "id": "your-request-id",
          "status": "Success",
          "data": []
        },
        "expedia_reviews": {
          "id": "your-request-id",
          "status": "Success",
          "data": []
        },
        "g2_reviews": {
          "id": "your-request-id",
          "status": "Success",
          "data": []
        },
        "walmart_reviews": {
          "id": "your-request-id",
          "status": "Success",
          "data": []
        },
        "target_reviews": {
          "id": "your-request-id",
          "status": "Success",
          "data": []
        },
        "appstore_reviews": {
          "id": "your-request-id",
          "status": "Success",
          "data": []
        },
        "airbnb_reviews": {
          "id": "your-request-id",
          "status": "Success",
          "data": []
        },
        "indeed_reviews": {
          "id": "your-request-id",
          "status": "Success",
          "data": []
        },
        "glassdoor_reviews": {
          "id": "your-request-id",
          "status": "Success",
          "data": []
        },
        "capterra_reviews": {
          "id": "your-request-id",
          "status": "Success",
          "data": [
            [
              {
                "query": "https://www.capterra.com/p/228041/Google-Maps-scraper/",
                "completenessScore": 1.25,
[...]
